<div class="container shadow-lg p-3 mb-5 bg-white rounded my-5">
  <div class="text-center my-5" id="list-title">
    <h2>Skontroluj bilet</h2>
  </div>
  <form [formGroup]="form" id="form" class="container">
    <div class="form-group row mt-3 justify-content-center">
      <label class="col-sm-2 col-form-label-lg fw-bold">Kod biletu:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" formControlName="code" [ngClass]="{ 'is-invalid': isSubmitted && getFormControls.code.errors }">
        <div *ngIf="isSubmitted && getFormControls.code.errors" class="invalid-feedback">
          <div *ngIf="getFormControls.code.errors.required">Kod biletu jest obowiązkowy</div>
          <div *ngIf="getFormControls.code.errors.minlength">Kod biletu powinien być 36 znakowy</div>
          <div *ngIf="getFormControls.code.errors.maxlength">Kod biletu powinien być 36 znakowy</div>
        </div>
      </div>
    </div>
    <div class="form-group row mt-3 justify-content-center">
      <label class="col-sm-2 col-form-label-lg fw-bold">Identyfikator pojazdu:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" formControlName="vehicle" [ngClass]="{ 'is-invalid': isSubmitted && getFormControls.vehicle.errors }">
        <div *ngIf="isSubmitted && getFormControls.vehicle.errors" class="invalid-feedback">
          <div *ngIf="getFormControls.vehicle.errors.required">Identyfikator pojazdu jest obowiązkowy</div>
          <div *ngIf="getFormControls.vehicle.errors.minlength">Identyfikator pojazdu powinien być 8 znakowy</div>
          <div *ngIf="getFormControls.vehicle.errors.maxlength">Identyfikator pojazdu powinien być 8 znakowy</div>
        </div>
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <div class="col-sm-7 my-5">
        <button class="btn btn-primary btn-lg" (click)="onUserTicketControl()">Skontroluj</button>
      </div>
    </div>
    <div *ngIf="isSubmitted && form.valid && userTicketValidationMessage " class="form-group row justify-content-center">
      <div class="col-sm-7">
        <p *ngIf="!isValid; else invalid" class="text-danger">{{userTicketValidationMessage}}</p>
        <ng-template #invalid>
          <p class="text-success">{{userTicketValidationMessage}}</p>
        </ng-template>
      </div>
    </div>
  </form>
</div>
