<div class="table-container" style="max-height: 500px; overflow: auto">
<table class="table" id="tickets">
  <thead class="bg-secondary bg-opacity-50">
  <tr>
    <th>Kod</th>
    <th>Typ</th>
    <th>Cena</th>
    <th>Zniżka</th>
    <th>Data zakupu</th>
    <th>Skasowany</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let userTicket of getUserTickets()">
  <tr>
    <td>{{userTicket.code}}</td>
    <td>{{userTicket.ticketName}}</td>
    <td>{{userTicket.ticketPrice}}</td>
    <td>{{userTicket.discount}}</td>
    <td>{{userTicket.purchaseTime}}</td>
    <td>
      <ng-container *ngIf="userTicket.ticketType === 'SINGLE'|| userTicket.ticketType === 'TIME'; else season">
        {{ userTicket.isValidated ? 'Tak' : 'Nie' }}
      </ng-container>
      <ng-template #season>
        Nie dotyczy
      </ng-template>
    </td>
  </tr>
  </ng-container>
  </tbody>
</table>
</div>
