<div class="table-container">
<table class="table" id="tickets">
  <thead class="bg-secondary bg-opacity-50">
  <tr>
    <th>Kod</th>
    <th>Typ</th>
    <th>Cena</th>
    <th>Zniżka</th>
    <th>Data zakupu</th>
    <th>Skasowany</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let userTicket of getUserTickets()">
  <tr>
    <td>{{userTicket.code}}</td>
    <td>{{userTicket.ticket.name}}</td>
    <td>{{(userTicket.ticket.price * (1.0 - userTicket.discount / 100)).toFixed(2)}} zł</td>
    <td>{{userTicket.discount}}%</td>
    <td>{{userTicket.purchase_time}}</td>
    <td>
    <ng-container *ngIf="userTicket.ticket.type === 'single' || userTicket.ticket.type === 'time'; else season">
      Nie
    </ng-container>
    <ng-template #season>
      Nie dotyczy
    </ng-template>
    </td>
  </tr>
  </ng-container>
  </tbody>
</table>
</div>
