<div class="table-container" style="max-height: 500px; overflow: auto">
<table class="table" id="tickets">
  <thead class="bg-secondary bg-opacity-50">
  <tr>
    <th>Kod</th>
    <th>Typ</th>
    <th>Cena</th>
    <th>Zniżka</th>
    <th>Data zakupu</th>
    <th>Skasowany</th>
  </tr>
  </thead>
  <tbody style="max-height: 300px; overflow-y: scroll">
  <ng-container *ngFor="let userHistoryTicket of getUserHistoryTickets()">
  <tr>
    <td>{{userHistoryTicket.code}}</td>
    <td>{{userHistoryTicket.ticketName}}</td>
    <td>{{userHistoryTicket.ticketPrice}}</td>
    <td>{{userHistoryTicket.discount}}</td>
    <td>{{userHistoryTicket.purchaseTime}}</td>
    <td>
      <ng-container *ngIf="userHistoryTicket.ticketType === 'SINGLE' || userHistoryTicket.ticketType === 'TIME'; else season">
        {{ userHistoryTicket.isValidated ? 'Tak' : 'Nie' }}
      </ng-container>
      <ng-template #season>
        Nie dotyczy
      </ng-template>
    </td>
  </tr>
  </ng-container>
  </tbody>
</table>
</div>
